<div role="tabpanel">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#home" aria-controls="home" role="tab" data-toggle="tab">Mas datos</a>
		</li>
		<li role="presentation">
			<a href="#tab" aria-controls="tab" role="tab" data-toggle="tab">Historial</a>
		</li>
	</ul>
	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="home">
			<br>
			<ul>
				
				<li><b>Caracteristica:</b> Descripcion descripcion </li>
				<li><b>Caracteristica:</b> Descripcion descripcion </li>
				<li><b>Caracteristica:</b> Descripcion descripcion </li>
				<li><b>Caracteristica:</b> Descripcion descripcion </li>
				<li><b>Caracteristica:</b> Descripcion descripcion </li>
				<li><b>Caracteristica:</b> Descripcion descripcion </li>
				<li><b>Caracteristica:</b> Descripcion descripcion </li>
				<li><b>Caracteristica:</b> Descripcion descripcion </li>
			</ul>
		</div>
		<div role="tabpanel" class="tab-pane" id="tab">
			<br>
			<div class="table-responsive">
				
				
				<table class="table table-hover table-striped table-condensed table-border">
					
					<thead>
						
						<tr>
							
							<th>#</th>
							<th>Accion</th>
							<th>Fecha</th>
							<th>Responsable</th>
							<th>CeCo</th>
							<th>Estado</th>
							<th>Solicitud</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>	Prestamo</td>
							<td>12/08/2016</td>
							<td>Edgar Alejos</td>
							<td>10AD154521</td>
							<td>Devuelto Conforme</td>
							<td><a href="#">SOL-056-056</a></td>
						</tr>
						<tr>
							<td>1</td>
							<td>	Prestamo</td>
							<td>12/08/2016</td>
							<td>Edgar Alejos</td>
							<td>10AD154521</td>
							<td>Devuelto Conforme</td>
							<td><a href="#">SOL-056-056</a></td>
						</tr>
						<tr>
							<td>1</td>
							<td>	Prestamo</td>
							<td>12/08/2016</td>
							<td>Edgar Alejos</td>
							<td>10AD154521</td>
							<td>Devuelto Conforme</td>
							<td><a href="#">SOL-056-056</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<br>