<div role="tabpanel">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#home" aria-controls="home" role="tab" data-toggle="tab">Mas datos</a>
		</li>
		<li role="presentation">
			<a href="#tab" aria-controls="tab" role="tab" data-toggle="tab">Historial</a>
		</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="home">
			<br>
 <ul>
 	

 	<li><b>Caracteristica:</b> Descripcion descripcion </li>
 	<li><b>Caracteristica:</b> Descripcion descripcion </li>
 	<li><b>Caracteristica:</b> Descripcion descripcion </li>
 	<li><b>Caracteristica:</b> Descripcion descripcion </li>
 	<li><b>Caracteristica:</b> Descripcion descripcion </li>
 	<li><b>Caracteristica:</b> Descripcion descripcion </li>
 	<li><b>Caracteristica:</b> Descripcion descripcion </li>
 	<li><b>Caracteristica:</b> Descripcion descripcion </li>
 </ul>



		</div>
		<div role="tabpanel" class="tab-pane" id="tab">
			<br>
<p>
	
	Loremp ipsum Loremp ipsum Loremp ipsum Loremp ipsum Loremp ipsum Loremp ipsum Loremp ipsum Loremp ipsum Loremp ipsum Loremp ipsum Loremp ipsum Loremp ipsum Loremp ipsum Loremp ipsum Loremp ipsum Loremp ipsum Loremp ipsum Loremp ipsum Loremp ipsum Loremp ipsum 
</p>

		</div>
	</div>
</div>
<br>