when($size)
  if $size == "xl"
    @media only screen and (min-width: 1200px)
      {block}
  else if $size == "l"
    @media only screen and (min-width: 992px) and (max-width: 1199px)
      {block}
  else if $size == "m"
    @media only screen and (min-width: 768px) and (max-width: 991px)
      {block}
  else if $size == "s"
    @media only screen and (min-width: 480px) and (max-width: 767px)
      {block}
  else if $size == "xs"
    @media only screen and (min-width: 0px) and (max-width: 479px)
      {block}
and-below($size)
  if $size == "l"
    @media only screen and (max-width: 1199px)
      {block}
  else if $size == "m"
    @media only screen and (max-width: 991px)
      {block}
  else if $size == "s"
    @media only screen and (max-width: 767px)
      {block}
  else if $size == "xs"
    @media only screen and (max-width: 479px)
      {block}
and-above($size)
  if $size == "l"
    @media only screen and (min-width: 992px)
      {block}
  else if $size == "m"
    @media only screen and (min-width: 768px)
      {block}
  else if $size == "s"
    @media only screen and (min-width: 480px)
      {block}
      


@import "stylus/custom-styles.styl" 
@import "stylus/custom-panels.styl"   