body
	background-color #000;

b.b
	color #fff
	
b.n
	color #000
td
	b
		i
			background-color yellow
			display inline-block
.row-comment
	
	&.active:hover, &.active
		label
			color #000
	&:hover
		label
			color #909090
	label
		
		color #d8d8d8
		
#js_send_mail
	color #fff
	
	&:hover, &:focus 
		color: #fff;
		background-color: #286090;
		border-color: #204d74;

.custom-alert-danger-pink
	background-color red
	

.custom-margin-top-a	
	margin-top 10px
.modal-image
	display inline-block
	border solid 2px #333
	position relative
	
	&:before
		content " "
		display block
		position absolute
		width 100%
		height 100%
		background-image url('../img/zoom-1.png')
		background-position center center
		background-repeat no-repeat
		opacity 0.6
	
.modal-image	
	&:hover
		&:before
			opacity 1

span[id^="jqxWidget"], span[id*="jqxWidget"]
	display none !important
	opacity 0px
	height 1px
	width 1px
	
.error
	color red
.custom-input-file-hidden
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;								
.custom-line
	border-bottom 1px solid #f3f2f2
.custom-form-group
	margin-bottom 15px	
	
.custom-form-group-2
	margin-bottom 8px		
	margin-top 8px
.loading
	background-image url('../img/ajax-loading.gif')
	width 16px
	height 16px
	display inline-block
	vertical-align middle
	
	
.custom--file
	display block
	margin-top 10px
	
.del-file
	display inline-block
	display: inline-block;
	float: left;
	margin-right: 10px;
				
.custom-iframe-100
	width 100%
	border none
	
	&.custom-iframe-100x300
		height 300px;
		
	&.custom-iframe-100x500
		height 500px;
.resume-fixed 
	#resume
		position: fixed;
		top: 40px;
		left: 0px;
		width: 100%;
		z-index: 9;
		
		.panel-heading
			display none;
		
#resume
	.progress
		margin-bottom 0px

#resume
	.count
		margin-bottom 3px
				

.custom-list-post-reviews
	li
		border-bottom 1px solid #333
		padding-bottom 10px
		padding-top 10px
		
		i
			color #333
			font-size 12px
			
		b
			min-width 20px
			display inline-block
			
.custom-response
	ul
		margin-left 0px
		list-style-position: inside;
		padding-left 0px
		
	h5
		font-weight bold
.custom-row-header
	border-top: solid 1px #777;
	border-bottom: 1px solid #ccc;
	padding: 10px 0px;
	 
	color: #fff;
	cursor: pointer;
	opacity 0.8
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
	

	&.collapsed
		opacity 1
		background-color #1482BF
		.ico-close
			display inline-block
			
		.ico-open
			display none
			
	.ico-close
		display none
		
	.ico-open
		display inline-block
    
	&.custom-filter-postreview-C.collapsed,
	&.custom-filter-postreview-Y.collapsed,
	&.custom-filter-postreview-N.collapsed,
	&.custom-filter-postreview--.collapsed
		opacity 1
		
	&.custom-filter-postreview-C, &.custom-filter-prereview-Y.custom-filter-postreview-
		background-color #61ff69
		color #000
		text-shadow none
	&.custom-filter-postreview-Y , &.custom-filter-prereview-N.custom-filter-postreview-
		background-color #ff6961
	&.custom-filter-postreview-N 
		background-color #61ff69
		color #000
		text-shadow none
	&.custom-filter-postreview-- 
		background-color #f7ff61
		color #000
		text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
		 
		
		


.custom-panel-result
	.custom-row-master 
		border-bottom 2px dotted #ddd
		padding-top 15px
		&:first-child
			border-top 2px dotted #ddd
			
	.accordion
		.panel-heading
			h4
				a
					display block
					cursor pointer
					
					.ico-open
						display inline-block
						float right 
					.ico-close
						display none
						float right
						

					&.collapsed
						.ico-open
							display none
							
						.ico-close
							display inline-block
							
					label
						cursor pointer
						

.cajita
	border solid 1px #d8d8d8
	.cabecera
		background-color #F5F5F5
		text-align center
		font-size 16px
		font-weight bold
		border-bottom 2px solid #ccc
	.respuesta
		display block
		text-align center
		font-size 18px
		border-bottom solid 1px #d8d8d8  
		
		label
			display block
			cursor pointer
			&:hover
				opacity 0.5
			span
				min-width 20px
				display inline-block
				
	.color-bg-Y
		background-color: #FFF
	.color-bg-post-y, .custom-item-postreview-yes.active
		background-color #ff6961
	.color-bg-post-n, .custom-item-postreview-no.active
		background-color: #61ff69
		
	.color-bg-N,.color-bg--
		background-color #ff6961
		
	.color-bg-post-c, .custom-item-postreview-cleared.active
		background-color: #61ff69
	.color-bg-post-u, .custom-item-postreview-unspecified.active
		background-color: #f7ff61
._js_filter_postreview,._js_filter_prereview
	label
		cursor pointer
		margin-right 12px
		input
			cursor pointer
.custom-row-03	
	border-bottom 1px solid #ededed
	margin-bottom 10px
	padding-bottom 10px
.progress-bar-warning
	background-color #feff6d  
	color #333
.custom-title-03
	margin 0px
	padding 0px
	border-bottom 2px solid #6d6d6d
	color #6d6d6d
	padding-bottom 10px
	margin-bottom 20px
	
.custom-label-post-review
	font-weight bold
	

.custom-search
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: solid 1px #DDD;
	border-bottom: solid 1px #DDD;
	background-color: #F5F5F5;
	
hgroup
	h1
		font-size 30px
		padding-left 0px
		
	h4
		label,b
			font-size 14px
			
		label
			font-weight normal
			
.custom-info-cliente
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #EAEAEA;
	
	h3
		font-size 12px

.info-comment
	opacity 0.5		
.info-comment-change-check
	color #333
	font-size 18px
	margin-left 10px
	&.save
		color green			
@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
.blink{
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}

.progress-bar-danger
	background-color: #ff6961;
	
.progress-bar-success
	background-color: #80ff87;