.custom-bg-01 {
  background: url("../images/fondo.jpg") no-repeat;
  background-size: cover;
}
.custom-title-01 {
  color: #fff;
  font-size: 48px;
}
.custom-footer-login {
  border-top: solid 2px #333;
}
.custom-footer-login .row {
  margin-top: 5px;
  margin-bottom: 5px;
}
and-above(l)
.custom-shadow-01 {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.custom-top-bar {
  background-color: #06419d;
  padding: 5px 10px;
}
.custom-top-bar h1,
.custom-top-bar h2,
.custom-top-bar h3,
.custom-top-bar h4 {
  padding: 0px;
  margin: 0px;
}
.custom-top-bar h3 {
  color: #fff;
}
.custom-top-menu .navbar-brand img {
  margin-top: -5px;
}
.custom-well-01:hover {
  opacity: 0.8;
}
.custom-well-01:hover h3,
.custom-well-01:hover p {
  text-decoration: none;
}
.custom-well-link:hover {
  text-decoration: none;
}
.custom-well-link h5 {
  color: #000;
  font-weight: bold;
  font-size: 16px;
}
.custom-well-link p {
  color: #333;
}
@media screen and (min-width: 767px) {
  .col-custom-items {
    width: 50%;
    min-height: 150px;
  }
  .col-custom-items .hidden-xs.visible-sm {
    display: none !important;
  }
  .col-custom-items .visible-xs {
    display: block !important;
  }
}
@media screen and (min-width: 860px) {
  .col-custom-items {
    width: 33%;
    text-align: center;
  }
  .col-custom-items .visible-xs {
    display: none !important;
  }
  .col-custom-items .visible-sm,
  .col-custom-items .hidden-xs.visible-sm {
    display: block !important;
  }
}
@media screen and (min-width: 995px) {
  .col-custom-items {
    width: 20%;
  }
  .col-custom-items h5 {
    font-size: 13px;
    text-align: center;
  }
}
.btn.active {
  text-decoration: underline;
  opacity: 0.8;
}
