



.custom-bg-01
	background: url(../images/fondo.jpg) no-repeat;
	background-size: cover;
	
.custom-title-01
	color #fff
	font-size 48px
	
.custom-footer-login 
	border-top solid 2px #333
	.row
		margin-top 5px
		margin-bottom 5px
 
 +and-above(l)
	.form-horizontal .control-label.text-left
		text-align  left !important


	
.custom-shadow-01
	background-color #000
	opacity 0.5
	position absolute
	width 100%
	height 100%
	z-index 0
	
.custom-top-bar
	background-color #06419D
	padding 5px 10px;
	
	h1,h2,h3,h4
		padding 0px
		margin 0px
		
	h3
		color #fff
		

.custom-top-menu
	.navbar-brand
		img
			margin-top -5px
			
.custom-well-01
	&:hover
		opacity 0.8
		h3,p
			text-decoration none
			
.custom-well-link
	&:hover	
		text-decoration none
		
	h5
		color #000
		font-weight bold
		
		font-size 16px
	
	p
		color #333
		

@media screen and (min-width: 767px)		
	.col-custom-items
		width 50%
		min-height 150px
		
		.hidden-xs.visible-sm
			display none !important
			
		.visible-xs
			display block !important
		
@media screen and (min-width: 860px)		
	.col-custom-items
		width 33%	
		text-align center
		
		.visible-xs
			display none !important
			
		.visible-sm, .hidden-xs.visible-sm
			display block	 !important
			
				
@media screen and (min-width: 995px)		
	.col-custom-items
		width 20%
		
		h5
			font-size 13px
			text-align center
			

.btn.active
	text-decoration underline
	opacity 0.8
		
